<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Application</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>

<div class="container">
  <img src="https://mnstreetmarket.files.wordpress.com/2019/09/mn_streetmarket_newwebbanner-110.png"/>


  <h1>Application</h1>

  <span th:text="${error}"></span>

  <form action="/join" method="post">
    <label for="firstName">First Name</label><input name="firstName" id="firstName" placeholder="First Name"/><br/>
    <label for="lastName">Last Name</label><input name="lastName" id="lastName" placeholder="Last Name"/><br/>
    <label for="email">Email</label><input name="email" id="email" placeholder="Email"/><br/>
    <label for="phoneNumber">Phone Number</label><input name="phoneNumber" id="phoneNumber"
                                                        placeholder="320-363-1234"/><br/>
    <label for="password1">Password</label><input name="password1" id="password1" placeholder="Password"
                                                  type="password"/>
    <input name="password2" id="password2" placeholder="Confirm Password" type="password"/><br/>
    <label for="streetAddress">Street Address</label><input name="streetAddress" id="streetAddress"
                                                            placeholder="123 Oak Street"/><br/>
    <label for="apartmentNumber">Apt #/Room #/Unit</label><input name="apartmentNumber" id="apartmentNumber"
                                                                 placeholder="#205"/><br/>
    <label for="city">City</label><input name="city" id="city" placeholder="City"/><br/>
    <label for="state">State</label><input name="state" id="state" placeholder="State"/><br/>
    <label for="zipCode">Zip Code</label><input name="zipCode" id="zipCode" placeholder="Zip Code"/><br/>
    <label for="student">Are you a student?</label><input name="student" id="student" type="checkbox"><br/>
    <label for="family">Family</label>
    <input name="family" id="family" placeholder="Family member 1"><br/>
    <input name="family" placeholder="Family member 2"><br/>
    <input name="family" placeholder="Family member 3"><br/>
    <button type="submit">Submit Form</button>
    <button type="reset">Clear Form</button>
  </form>

  <footer style="background-color: #4996ad; width: 960px;">
    <div sec:authorize="isAuthenticated()">
      <a href="/logout">logout</a>
    </div>

    <div sec:authorize="!isAuthenticated()">
      <a href="/login">login</a>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
      <a href="/admin/members">View All Members</a>
    </div>
  </footer>

</div>
</body>
</html>
