<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<div th:replace="fragments/head"></div>
<body>

<div class="container">
  <div th:replace="fragments/header"></div>

  <h1>Application</h1>

  <div th:if="${referral}" class="alert alert-success" role="alert"
       th:text="${'Referral reward will be applied to ' + referral.firstName + ' ' + referral.lastName + ' after membership is paid.'}"></div>
  <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>

  <form action="/join" method="post" th:object="${application}">
    <label for="password1">Password</label><input name="password1" th:field="*{password1}" id="password1"
                                                  placeholder="Password"
                                                  type="password" class="form-control"/>
    <input name="password2" th:field="*{password2}" id="password2" placeholder="Confirm Password" type="password"
           class="form-control"/><br/>

    <button type="submit">Submit Form</button>
    <button type="reset">Clear Form</button>
  </form>

  <div th:replace="fragments/footer"></div>

</div>
</body>
</html>
