<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<div th:replace="fragments/head"></div>
<body>

<div class="container">
  <div th:replace="fragments/header"></div>

  <h1>Application</h1>

  <div th:if="${referral}" class="alert alert-success" role="alert"
       th:text="${'Referral reward will be applied to ' + referral.firstName + ' ' + referral.lastName + ' after membership is paid.'}"></div>
  <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>

  <form action="/join/familyMembers" method="post" th:object="${familyMembers}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <label for="family">Family</label>
    <input name="familyMembers" id="family" placeholder="Family member 1" class="form-control"><br/>
    <input name="familyMembers" placeholder="Family member 2" class="form-control"><br/>
    <input name="familyMembers" placeholder="Family member 3" class="form-control"><br/>
    <button type="submit">Submit Form</button>
    <button type="reset">Clear Form</button>
  </form>

  <div th:replace="fragments/footer"></div>

</div>
</body>
</html>
