<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<div th:replace="fragments/head"></div>
<body>

<div class="container">
  <div th:replace="fragments/header"></div>

  <h1>Edit Member</h1>

  <form>
  First name: <input id="first" name="first" th:value="${member.firstName}"/><br/>
  Last name: <input id="last" name="last" th:value="${member.lastName}"/><br/>
  Email: <input id="email" name="email" th:value="${member.email}"/><br/>
  </form>

  <h3>Phone</h3>
  <ul>
    <li th:each="phone : ${member.phoneNumbers}"
        th:text="${phone.phoneNumber}"></li>
  </ul>

  <h3>Family Members</h3>
  <ul>
    <li th:each="familyMember : ${member.family}"
        th:text="${familyMember.name}"></li>
  </ul>

  <h3>Address</h3>
  <ul>
    <li th:each="address : ${member.addresses}"
        th:text="${address.streetAddress + ', ' + address.city + ', ' + address.state + ' ' + address.zipCode}"></li>
  </ul>

  <span sec:authorize="hasRole('ADMIN')">
      <span>Is Admin?</span> <input type="checkbox" th:checked="${member.isAdmin}"/>
  </span>

  <div th:replace="fragments/footer"></div>

</div>

</body>
</html>
