<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<div th:replace="fragments/head"></div>
<body>
<div class="container">
  <div th:replace="fragments/header"></div>

  <h1>Home</h1>

  <div th:if="${alert}" class="alert alert-success" role="alert"
       th:text="${alert}"></div>

  <div sec:authorize="!isAuthenticated()">
    <a href="/join">Join the Minnesota Street Market Co-op</a> or <a href="/login">login</a> if you are already a member
  </div>

  <div sec:authorize="isAuthenticated()">
    <strong> Welcome <span th:text="${member.firstName}"></span> </strong>
    <p>You have been a member since <span th:text="${member.joinDate}"></span>.</p>
    <p th:if="${member.membershipPaidDate == null}">Your membership fee of $<span
        th:text="${member.membershipFeeAmount}"></span> has not been received yet. <a th:href="${paymentUrl}">Pay Now</a>.</p>
    <p th:if="${member.membershipPaidDate != null}">Your membership fee of $<span
        th:text="${member.membershipFeeAmount}"></span> was received on <span
        th:text="${member.membershipPaidDate}"></span>.</p>
  </div>

  <div th:replace="fragments/footer"></div>
</div>

</body>
</html>
