<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<div th:replace="fragments/head"></div>
<body>

<div class="container">
  <div th:replace="fragments/header"></div>

  <h1>Members</h1>

  <ul th:each="member :  ${members}">
    <li>
      <a th:href="${'members/'+member.memberId}"
         th:text="${member.firstName + ' ' + member.lastName}"></a> |

<!--      <a th:href="${'members/'+member.memberId+'/edit'}">edit</a>-->
    </li>
  </ul>

  <div th:replace="fragments/footer"></div>

</div>

</body>
</html>
