<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Members</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>

<div class="container">
  <img src="https://mnstreetmarket.files.wordpress.com/2019/09/mn_streetmarket_newwebbanner-110.png"/>

  <h1>Members</h1>

  <ul th:each="member :  ${members}">
    <li>
      <a th:href="${'members/'+member.memberId}"
         th:text="${member.firstName + ' ' + member.lastName}"></a>
    </li>
  </ul>

  <footer style="background-color: #4996ad; width: 960px;">
    <div sec:authorize="isAuthenticated()">
      <a href="/logout">logout</a>
    </div>

    <div sec:authorize="!isAuthenticated()">
      <a href="/login">login</a>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
      <a href="/admin/members">View All Members</a>
    </div>
  </footer>

</div>

</body>
</html>
