<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Members</title>
</head>
<body>

<a href="/members">View All Members</a>

<h1>Member</h1>

<h2 th:text="${member.firstName + ' ' + member.lastName}"></h2>

<h3>Email</h3>
<ul>
  <li th:each="email : ${member.emails}"
      th:text="${email.emailAddress}"></li>
</ul>

<h3>Phone</h3>
<ul>
  <li th:each="phone : ${member.phoneNumbers}"
      th:text="${phone.phoneNumber}"></li>
</ul>

<h3>Family Members</h3>
<ul>
  <li th:each="familyMember : ${member.family}"
      th:text="${familyMember.firstName + ' ' + familyMember.lastName}"></li>
</ul>

<h3>Address</h3>
<ul>
  <li th:each="address : ${member.addresses}"
      th:text="${address.streetAddress + ', ' + address.city + ', ' + address.state + ' ' + address.zipCode}"></li>
</ul>

</body>
</html>
