<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Members</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>

<div class="container">
  <img src="https://mnstreetmarket.files.wordpress.com/2019/09/mn_streetmarket_newwebbanner-110.png"/>

  <h1>Member</h1>

  <h2 th:text="${member.firstName + ' ' + member.lastName}"></h2>

  <span th:text="${member.email}"></span>

  <h3>Phone</h3>
  <ul>
    <li th:each="phone : ${member.phoneNumbers}"
        th:text="${phone.phoneNumber}"></li>
  </ul>

  <h3>Family Members</h3>
  <ul>
    <li th:each="familyMember : ${member.family}"
        th:text="${familyMember.firstName + ' ' + familyMember.lastName}"></li>
  </ul>

  <h3>Address</h3>
  <ul>
    <li th:each="address : ${member.addresses}"
        th:text="${address.streetAddress + ', ' + address.city + ', ' + address.state + ' ' + address.zipCode}"></li>
  </ul>

  <footer style="background-color: #4996ad; width: 960px;">
    <div sec:authorize="isAuthenticated()">
      <a href="/logout">logout</a>
    </div>

    <div sec:authorize="!isAuthenticated()">
      <a href="/login">login</a>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
      <a href="/admin/members">View All Members</a>
    </div>
  </footer>

</div>

</body>
</html>
